@model BeMyGuest.Models.Occasion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Occasion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdUserTraveler)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdUserTraveler)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdUserHost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdUserHost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
